<p id="notice"><%= notice %></p>

<h1>Beach Projects</h1>

<% @projects.in_groups_of(3) do |group|%>
  <div class="row">
    <% group.compact.each do |project| %>
      <div class="col-md-4">
        <%= image_tag project.picture_url, width: '100%'if project.present? %>
        <h4><%= link_to project.name, project%></h4>
        <%= project.description %>
      </div>
    <% end %>
  </div>
<% end %>




<%= link_to 'New Project', new_project_path %>
